body {
    background-image: url("background.png");
    font-family: Arial;
}
a {
    color: white;
    font-style:italic;
}

table#infotable {
    width: 300px; 
    top: 50px;
    margin-left: 900px;
    position: fixed;
    background-color: black;
    margin-right: 100px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Arial;
    border-spacing: 0; 
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-style: hidden;
    color: white;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, .5);
}
}
table#infotable td, th {
    border: 1px solid black;
    padding: 10px;
    width: 100px;
}
.blackInfo {
    background: black;
    padding-top:10px;
    padding-bottom: 10px;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, .4);
    
}
.roundedleft{
    -moz-border-radius-bottomleft: 15px;
    border-bottom-left-radius: 15px;
}
.roundedright{
    -moz-border-radius-bottomright: 15px;
    border-bottom-right-radius: 15px;
}
img#type1img {
    width: 70px;
}
img#type2img {
    width: 70px;
}
img#megatype1img {
    width: 70px;
}
img#megatype2img {
    width: 70px;
}
img#infoIMG{
    width: 240px;
}
img#insurboxstar {
    width:20px;
    height:20px;
    vertical-align: text-bottom;
    margin-right: 3px;
}


table#dex {
    width: 684px;
    z-index: 1;
    position: absolute;
    top: 203px;
    left: 16px;
    border-collapse: separate;
    border-spacing: 25px 9px;
    font-size: small;
    border-color: black!important;
}

table#dex th {
    padding: 0px;
    width: 85px;
    height: 22px;
    border-color: transparent;
    font-family: Arial;

}

table#dex td {
    width: 85px;
    height: 85px;
    padding: 0px;
    border-color: transparent;
    text-align: center;
}




.HolonDeximg {
    z-index: -1;
    width: 910px;
}

.delta {
    width: 120px;
}
.inInsurgence {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 10;
    margin-left: -120px;
}




table tr.separator14 { height: 14px!important; }
table tr.separator12 { height: 12px!important; }
table tr.separator11 { height: 11px!important; }
table tr.separator10 { height: 10px!important; }
table tr.separator9 { height: 9px!important; }
table tr.separator { height: 8px!important; }
table tr.mediumseparator { height: 7px!important; }
table tr.separator5 { height: 5px!important; }
table tr.smallseparator { height: 2px!important; }
table tr.tinyseparator { height: .8px!important; }
table tr.emptyseparator {height: 0px;}


footer{
    color: white;
    position: fixed;
    left: 906px;
    top: 90%; 
    text-align: center;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, .6);
    padding: 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

img#typing {
    display: none !important;
    width: 0px;
}

img#infoforme1IMG {
    max-width: 60px;
    -moz-border-radius: 15px;
    border-radius: 15px;

}
img#infoforme2IMG {
    max-width: 60px;
    -moz-border-radius: 15px;
    border-radius: 15px;

}
img#infoforme3IMG {
    max-width: 60px;
    -moz-border-radius: 15px;
    border-radius: 15px;

}
img#infoforme4IMG {
    max-width: 60px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

@media all and (max-width: 1200px) {
    table#infotable {
        position:inherit!important;
        margin-left:20px!important;    

    }
    footer{
        left: 356px;
    }
}
@media all and (max-width: 1200px) {
    table#infotable {
        position:inherit!important;
        margin-left:20px!important;    

    }
    footer{
        left: 356px;
    }
}

@media all and (max-height: 850px) {
    footer{
        position: inherit!important;
    }
}

p#lastUpdated {
    color: white;
    float:right;
    margin-right: 10px;
}

